*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: "poppins", serif;
}
h2{
    color: #6070FF;
    font-weight: 700;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}
h1{
    color: #172B4D;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    background: none;
}
p{
    color: #344563;
    font-weight: 400;
    font-size: 1rem;
}
.home {
    background-image: url(./imagen/fondo.svg);
    width: 100vw;
    height: 87vh;
    padding: 0 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
header a:hover{
    background-color: aliceblue;
    border-radius: 50%;
    padding: 5%;
}
header a{
    text-decoration: none;
    padding: 7px;
}
h1:hover{
    font-size: 40px;
    cursor: pointer;
}
.home p {
 font-weight: 400;
 font-size: 1rem;
 color:#344563;
}
.fa-brands{
    color: #505f79;
    text-decoration: none;
    font-size: larger;
}
ul{
    padding: 0;
}

